<%= form_for(current_user.favorites.find_by(album: @album), html: { method: :delete }, remote: true) do |f| %>
		<div><%= hidden_field_tag :album_id, @album.id %></div>
		<%= f.submit "Unfavorite", class: "btn" %>			
<% end %>